body{
	overflow-y:scroll;
}

img{
	height: 25px;
}
.search{
	width: 30%;
	margin:	auto;
}
.header{
	width: 50%;
	margin: auto;
}
.shadow{
	box-shadow: 1px 0px 37px -8px rgba(0,0,0,0.51);
}

ul{
	text-align: center;
}
